.select2-container .select2-selection--single {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.select2,
.select2-search__field,
.select2-results__option {
  font-size: 1.2em !important;
}

.select2-selection__rendered {
  line-height: 2em !important;
}

.select2-container .select2-selection--single {
  height: 3em !important;
}

.select2-selection__arrow {
  height: 2em !important;
}

.card h5 {
  color: #ffffff !important;
}

.account-details {
  text-align: center;
}

.account-details span {
  font-size: 20px;
  display: block;
}

.vcard, .pcard {
  position: relative;
  background: url("../../asset/img/logo2.png") no-repeat;
  background-size: contain;
  color: #fff;
}

.vcard .haze, .pcard .haze {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: inherit;
  color: inherit;
  font-family: 'Kredit font';
}

.vcard .haze .pan, .pcard .haze .pan {
  position: inherit;
  bottom: 40px;
  text-align: center;
  left: 0;
  -webkit-transform: translate(50px, -50px);
          transform: translate(50px, -50px);
  z-index: 12;
  width: 100%;
  font-size: 20px;
  word-spacing: 15px;
}

.vcard .haze .expiry, .pcard .haze .expiry {
  position: inherit;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 11;
}

.vcard .haze {
  background-color: rgba(15, 15, 87, 0.9);
}

.pcard .haze {
  background-color: rgba(6, 6, 15, 0.9);
}

.banking-card {
  min-height: 200px;
}

.account-number {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
}

.balance {
  font-weight: 14px;
  display: block;
}

.account-text {
  display: block;
  font-size: 16px;
}

.account-figure {
  font-weight: 600;
  font-size: 19px;
  display: block;
}

.card-variant {
  position: relative;
  color: #ffffff;
}

.card-variant i {
  font-weight: 600;
}

.card-variant .card-footer {
  padding: 10px 25px 20px 25px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-variant .card-body {
  position: relative;
  padding: 0;
  display: block;
}

.card-text-title {
  font-size: 18px;
  font-weight: bold;
}

.add-card-button {
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 14px;
  background: #ffffff;
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.add-card-button:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .8;
}

.account-card {
  padding: 20px !important;
}

.account-card .card-p {
  padding-bottom: 0 !important;
}

.account-card .card-rounded-bottom {
  padding: 20px 0;
}

.account-card .card-body {
  display: block;
}

.account-card .card-footer {
  padding: 10px 25px 20px 25px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-card button {
  border-radius: 7px;
  padding: 3px 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.account-card button:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .8;
}

.account-card button i {
  color: #fff;
}

.account-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-wrapper .div {
  padding: 20px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#confirmationTable {
  font-size: 16px;
}

#confirmationTable td {
  padding: 0 !important;
}

#confirmationModalFooter {
  border: none;
  padding: 0;
}

@font-face {
  font-family: 'Credit Card';
  src: url("Credit-Card-Font.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Neue Helvetica';
  font-style: normal;
  src: url("helveticaneue.ttf");
}

#tryba-card-primary {
  background: #1B93C0;
}

#tryba-card-secondary {
  background: #7239ea;
}

.tryba-card-white {
  position: relative;
  height: 246.81px;
  padding: 10px;
  border-radius: 14px;
  overflow: hidden;
  font-family: 'Neue Helvetica';
}

.tryba-card {
  position: relative;
  height: 246.81px;
  padding: 10px;
  border-radius: 14px;
  overflow: hidden;
  color: #ffffff !important;
  font-style: normal !important;
  cursor: pointer;
}

.tryba-card .v-card-text {
  font-family: 'Neue Helvetica';
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 2px;
  right: 30px;
}

.tryba-card i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.tryba-card .elipse-dark {
  position: absolute;
  width: 205.55px;
  height: 212.67px;
  left: 288px;
  top: 106.14px;
  border: 7.35876px solid rgba(0, 175, 239, 0.74);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.tryba-card .elipse-light {
  position: absolute;
  width: 205.55px;
  height: 212.67px;
  left: 290.95px;
  top: -4px;
  border: 7.35876px solid rgba(0, 175, 239, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.tryba-card .elipse-light-right {
  position: absolute;
  width: 205.55px;
  height: 212.67px;
  left: -60.68px;
  top: 39.66px;
  border: 7.35876px solid rgba(0, 175, 239, 0.29);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.tryba-card .elipse-dark-right {
  position: absolute;
  width: 205.55px;
  height: 212.67px;
  left: -70px;
  top: 150.78px;
  border: 7.35876px solid rgba(0, 175, 239, 0.29);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.tryba-card .vector-3 {
  position: absolute;
  top: 0;
  right: 0;
}

.tryba-card .vector-2 {
  position: absolute;
  top: 0;
  left: 30%;
}

.tryba-card .vector-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.tryba-card .card-row {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 90;
}

.tryba-card .card-row i {
  color: #1B93C0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #1B93C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  margin: 0 auto;
}

.tryba-card .card-row a {
  text-align: center;
  color: #1B93C0;
}

.tryba-card .card-row a span {
  display: block;
}

.tryba-card .card-row-md {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 90;
}

.tryba-card .card-row-md i {
  color: #1B93C0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #1B93C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  margin: 0 auto;
}

.tryba-card .card-row-md a {
  text-align: center;
  color: #1B93C0;
}

.tryba-card .card-row-md a span {
  display: block;
}

.tryba-card .card-row-sm {
  padding: 3px 10px 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 90;
}

.tryba-card .valid-thru {
  width: 100px;
  position: absolute;
  left: 35%;
  text-transform: uppercase;
  bottom: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 10px;
  line-height: -20px;
}

.tryba-card .valid-thru small {
  width: 40px;
}

.tryba-card .valid-thru span {
  font-family: 'Credit Card';
  font-size: 14px;
  margin-left: -10px;
}

.tryba-card .card-holder {
  font-family: 'Neue Helvetica';
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.tryba-card .card-holder h5 {
  font-size: 20px;
}

.tryba-card .card--number {
  position: absolute;
  left: 40px;
  top: 45%;
  width: 95%;
  font-weight: 200;
}

.tryba-card .card--number h5 {
  font-size: 20px;
}

.tryba-card .hologram {
  position: absolute;
  left: 47px;
  top: 25%;
}

.tryba-card .arrow {
  position: absolute;
  left: 20px;
  bottom: 32%;
}

.tryba-card .toggleAccountView {
  position: absolute;
  right: 20px;
  top: 50%;
}

.tryba-card .brand-logo {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.tryba-card .card-label {
  z-index: 15;
}

.tryba-card .card-label h3 {
  text-transform: uppercase;
}

.tryba-card .card-label h5 {
  font-family: 'Credit Card';
  font-weight: bold;
  margin-top: 4px;
  color: #ffffff !important;
  font-size: 16px;
}

.tryba-card .card-label span {
  font-family: 'Neue Helvetica';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
}

.tryba-card .card-label .accNum {
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-opacity: 1;
}

.tryba-card .limited-use {
  position: absolute;
  left: 30px;
  bottom: 3px;
  font-size: 12px;
}

#tryba-card-back {
  position: relative;
  height: 246.81px;
  padding: 10px 20px;
  border-radius: 14px;
  overflow: hidden;
  font-family: 'Neue Helvetica';
  background: #ffffff;
  border: dashed 2px #1B93C0;
  color: #1B93C0 !important;
  display: none;
}

#tryba-card-back .card-row-md {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tryba-card-back .card-row-md a {
  width: 110px;
}

.card-empty {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: block !important;
}

.card-empty:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #1B93C0 !important;
  color: #fff !important;
}

.card-empty:hover h4, .card-empty:hover a, .card-empty:hover i {
  color: #fff !important;
}

.card-empty:hover i {
  border-color: #fff !important;
}

#tryba-card-back:not(:root:root) {
  position: relative;
  height: 246.81px;
  padding: 10px 20px;
  border-radius: 14px;
  overflow: hidden;
  font-family: 'Neue Helvetica';
  background: #ffffff;
  border: dashed 2px #1B93C0;
  color: #1B93C0 !important;
  display: none;
}

#tryba-card-back:not(:root:root) .card-row-md {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tryba-card-back:not(:root:root) .card-row-md a {
  width: 110px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .tryba-card, .tryba-card-white {
    height: 200.81px !important;
    padding: 10px 20px;
  }
  .card--number h5 {
    font-size: 12px !important;
  }
  .card-holder {
    left: 30px;
    bottom: 10px;
  }
  .card-holder h5 {
    font-size: 14px !important;
  }
  .hologram {
    width: 25px;
    left: 47px;
    top: 30% !important;
  }
  .arrow {
    width: 15px;
  }
  .brand-logo {
    width: 50px;
  }
  .account-card .card-p {
    padding-bottom: 0 !important;
  }
  .account-card .card-rounded-bottom {
    padding: 10px 0;
  }
  .account-card .card-footer {
    padding: 10px 5px 10px 5px;
  }
  .account-card button {
    font-size: 12px !important;
  }
  .account-card .account-number {
    font-size: 16px;
  }
}

.copy--tag {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #1B93C0;
}

.copy--tag i {
  color: #1B93C0 !important;
}

.d-wrapper {
  position: relative;
}

#accountData span {
  display: block;
}

.open-banking {
  display: block !important;
}

.card-status {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3px 12px;
  font-weight: 600;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.card-status:hover {
  background-color: #0e4f67;
  color: #ffffff !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.blocked {
  color: red;
}

.active-card {
  color: green;
}

.virtual .card-holder {
  left: 30px;
  top: 55px;
}

.virtual .v-card-text {
  top: 20px;
}

.virtual .valid-thru {
  position: absolute;
  left: 15%;
  text-transform: capitalize;
  bottom: 13%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.virtual .valid-thru span {
  font-size: 14px;
  font-family: 'Neue Helvetica';
}

.virtual .valid-thru h5 {
  font-family: 'Credit Card';
  font-size: 14px;
}

.shareable-details {
  position: relative !important;
  width: 100% !important;
}

.shareable-details .copy-btn {
  width: inherit;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.m-r-2 {
  margin-right: 4px;
}

.hide {
  display: none;
}

.modal-header-slim {
  padding: 15px;
}

.modal-header-slim a {
  font-size: 27px;
}

#verifForm {
  font-family: 'Poppins';
}

#verifForm h4 {
  font-size: 22px;
}

#verifForm .form-requirements {
  padding-left: 0;
  list-style: none;
}

#verifForm .form-requirements li {
  display: inline-block;
  padding: 4px;
  margin-right: 9px;
  font-size: 16px;
  font-weight: 400 !important;
}

#verifForm .form-requirements li i {
  margin-right: 5px;
  font-weight: 600;
  color: #1B93C0;
  font-size: 20px;
}

#verifForm button {
  background-color: #1B93C0;
  color: #ffffff;
  border-radius: 9px;
  padding: 15px;
  margin: 0 auto !important;
  border: none;
}

.company-list-wrapper {
  position: relative;
}

.company-list-wrapper .companies {
  list-style: none;
  width: inherit;
  padding-left: 0;
  max-height: 300px;
  overflow-x: scroll;
}

.company-list-wrapper .companies li {
  cursor: pointer;
  margin-bottom: 7px;
}

.company-list-wrapper .companies li:hover {
  background-color: #59c1e8;
}

datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

.officer-name {
  text-transform: capitalize;
}
