._reset-ul-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

._list-inline-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._list-block-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

._tt-point .tt-point-v-t {
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

._tt-point .tt-point-v-b {
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
}

._tt-point .tt-point-h-l {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

._tt-point .tt-point-h-r {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
